# ⚙️ Archivos de entorno
.env
.env.local
frontend/.env
backend/.env

# 🔐 Claves sensibles (Firebase u otros)
backend/app/utils/firebase_key.json

# 🐍 Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.db

# 📦 Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 📁 Vite / React / CRA build
frontend/build/
dist/
.cache/
.DS_Store

# 🔧 VSCode y editor config
.vscode/
.idea/
*.swp

# 🙅 Otros
*.bak
*.tmp
